[submodule "plugins/pandoc_reader"]
	path = plugins/pandoc_reader
	url = git@github.com:liob/pandoc_reader.git
[submodule "theme/pelican-bootstrap3"]
	path = theme/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
