img {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    margin: 1em 1em 1em 0;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
}

img.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

.figure {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    margin: 0 auto;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
}

.figure img {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.figure p.caption {
    margin: 0;
    font-size: 80%;
    padding: 4px;
    text-align: left;
}

.fa-email-square:before {
    /* support for email symbol in social */
    content: "\f0e0";
}

.references {
    /* font-size: 80%; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background: url(http://www.debianart.org/cchost/people/si0ux/si0ux_-_Air_SVG_Cover.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content,article {
    background-color: white;
    border-radius: 3px;
    padding: 9px;
}
